<nav class="navbar navbar-expand-md navbar-dark bg-dark my-lg-4 my-sm-3 my-1">
  <a class="navbar-brand" href="/"><h2 class="display-4 mb-0">Samuel <strong>Le Meur-Diebolt</strong></h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <!--
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cv.html">CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog.html">Blog</a>
        </li>
        -->
      </ul>
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <li class="nav-item me-3 me-md-1">
          <a class="nav-link" href="mailto:s.le-meur-diebolt@ucl.ac.uk" title="Email"><i class="fas fa-envelope fa-lg"></i></a>
        </li>
        <li class="nav-item me-3 me-md-1">
          <a class="nav-link" href="https://scholar.google.com/citations?user=M0xbah8AAAAJ" title="Google Scholar"><i class="fas fa-graduation-cap fa-lg"></i></a>
        </li>
        <li class="nav-item me-3 me-md-1">
          <a class="nav-link" href="https://orcid.org/0000-0002-9788-7263" title="ORCID"><i class="fab fa-orcid fa-lg"></i></a>
        </li>
        <li class="nav-item me-3 me-md-1">
          <a class="nav-link" href="https://github.com/sdiebolt" title="GitHub"><i class="fab fa-github fa-lg"></i></a>
        </li>
        <li class="nav-item me-3 me-md-1">
          <a class="nav-link" href="https://www.linkedin.com/in/samueldiebolt/" title="LinkedIn"><i class="fab fa-linkedin fa-lg"></i></a>
        </li>
        <li class="nav-item me-3 me-md-1">
          <a class="nav-link" href="https://bsky.app/profile/sdiebolt.bsky.social" title="BlueSky"><i class="fa-brands fa-bluesky fa-lg"></i></a>
        </li>
      </ul>
    </div>
</nav>
