---
---

$body-bg: black !default;
$body-color: #bbb !default;

$link-decoration: none;
$dark: black !default;

// Bootstrap
@import "bootstrap/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

// Components
@import "components/components.pageintro.scss";
@import "components/components.cv.scss";
@import "components/components.blog.scss";
